$main-blue-light: #369fff;
$main-blue-strong-light: #0085ff;
$main-blue-soft-light: #dbeeff;
$disable-gray-light: #f1f1f1;
$border-gray-light: #b8b8b8;
$strong-border-gray-light: #d9d9d9;
$main-font-light: black;
$main-gradient-light: linear-gradient(
    90.95deg,
    #6ab8ff 19.34%,
    #0071ff 70.42%,
    #0f40ee 98.53%
);
